

#content.box.style2
{   
        padding:20px;
}

#one
{
    height: 500px; 
    margin-bottom: 100px;
    text-align: center;
    color: gray; 
    background-color: white;
}

#two
{ 
        background: url("images/overlay.png"), url("../../images/senior2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
}

#three 
{
		background: url("images/overlay.png"), url("../../images/student.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
}

#stuseLogo {
    width: 160px;
    padding-top: 5px;
    padding-left: 10px;
}

.stuseIntro {
    background-image: url(images/senior1.jpg);
    background-repeat: no-repeat; background-size: cover;
}

#knopStuse {
    padding-top: 270px;
}


.lijntje {
    width: 500px;
}

.ava {
    height: 80px;
    width:80px;
    border-radius: 200px;
}

.overons {
    text-align: center;
    font-size: 12px;
}

#map
{
    width: auto;
    height: 500px;
}

.navbar
{ 
    height:100px;
    font-size:large;
}

.collapse
{
     margin-top:25px;
}



